# Document loaders
pdfplumber
docx2txt
python-pptx

# LangChain
langchain==0.3.27
langchain-core==0.3.79
langchain-community==0.3.31
langchain-text-splitters==0.3.11

# Retrieval
langchain-chroma==0.2.6
langchain-huggingface==0.3.1
sentence-transformers
rank-bm25

# Groq
langchain-groq==0.3.8

# Pydantic fix
pydantic<2.10

# ML
torch
torchvision
transformers

# Observability
arize-phoenix-otel
openinference-instrumentation-langchain

# UI
streamlit
reportlab

# Env
python-dotenv
tiktoken